<div>
  Chatbot
  <div data-controller="chatbot">
    <div>
      <button data-action="chatbot#login">登录</button>
      <button data-action="chatbot#logout">退出</button>
      <button data-action="chatbot#say">Say hello</button>

      <div>
        二维码图片
        <span data-chatbot-target="qrcode"></span>
      </div>
    </div>
  </div>
</div>